.banner-wrapper{
    height: 400px;
    width: 100%;
    background:rgba(255,255,255,0.2);
    margin-bottom: 20px;
}
.banner-wrapper img{
    height: 350px;
    width: 100%;
    object-fit: cover;
    padding: 10px 10px 10px 10px;
}
.description{
color: var(--dark);
font-size: larger;
background:rgba(255,255,255,0.5);
margin-bottom: 20px;
}
@media(max-width:768px){
    .banner-wrapper{
        width: 100%;
        height: auto;
}
.banner-wrapper img{
    width: 100%;
    height: auto;
}
.description{
    width: 100%;
    height: auto;
}
}